[submodule "core-auth"]
	path = core-auth
	url = https://github.com/intisy-ai/core-auth.git
	branch = main
[submodule "core"]
	path = core
	url = https://github.com/intisy-ai/core
	branch = main
[submodule "core-ir"]
	path = core-ir
	url = https://github.com/intisy-ai/core-ir.git
	branch = main
[submodule "gemini-translator"]
	path = gemini-translator
	url = https://github.com/intisy-ai/gemini-translator.git
[submodule "core-contracts"]
	path = core-contracts
	url = https://github.com/intisy-ai/core-contracts.git
